{% extends 'AppMedica/padre.html' %}


{% load static %}
    {% block contenido %}
        <h1 class="text-white font-weight-bold">About</h1>
    {% endblock %}

    {% block contenido2 %}

        <a class="btn btn-primary btn-xl" href="{% url 'About' %}">Falta texto</a>

        <hr>

        <p class="text-white-75 mb-5"></p>



    {% endblock %}

    {% block contenido3 %}

    {% endblock %}
    {% block contenido4 %}

    {% endblock %}
    {%block contenido5%}
    {%endblock%}

    <!-- Acerca de Nosotros-->