{% extends 'AppMedica/padre.html' %}


{% load static %}
    {% block contenido %}
        <h1 class="text-white font-weight-bold">MÉDICOS</h1>
    {% endblock %}

    {% block contenido2 %}
        <p class="text-white-75 mb-5">En este espacio se observarán los diferentes profesionales médicos que trabajan junto a CHApp Medica </p>

        <p class="text-white-75 mb-10">- Dr. Ricardo Gutierrez - Medico General</p>
        <p class="text-white-75 mb-10">- Dr. Diego Rodinqui - Dertmatólogo</p>
        <p class="text-white-75 mb-10">- Dra. Alejandra Fort - Pediatría</p>
        <p class="text-white-75 mb-10">- Dr. Fernando Zarate - Neumonólogo</p>
        <p class="text-white-75 mb-10">- Dr. Sebastian Heredia - Traumatologo</p>
        <p class="text-white-75 mb-10">- Dr. Jorge Pablo - Gastroenterologo</p>
        <p class="text-white-75 mb-10">- Micaela Perez - Enfermería a domicilio</p>
        <p class="text-white-75 mb-10">- Dra. Nora Faso - Cirujana estética</p>
        <p class="text-white-75 mb-10">- Dr. Mario Vinuqui - Odontologo</p>


        <p class="text-white-75 mb-5">¿Quieres trabajar con nosotros? Haz click en el siguiente boton</p>
        <a class="btn btn-primary btn-xl" href="{% url 'MedicoFormulario' %}">SUMATE A NUESTRO EQUIPO</a>


        
    {% endblock %}

    {% block contenido3 %}

    {% endblock %}
    {% block contenido4 %}

    {% endblock %}


