{% extends 'AppMedica/padre.html' %}


{% load static %}
    {% block contenido %}
        <h1 class="text-white font-weight-bold">MEDICOS</h1>
    {% endblock %}

    {% block contenido2 %}
        <p class="text-white-75 mb-5">Bienvenido</p>

        <a class="btn btn-primary btn-xl" href="{% url 'Medicos' %}">Atras</a>
    {% endblock %}

    {% block contenido3 %}
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-8 col-xl-6 text-center">    
            <h1>Quieres Trabajar con nosotros?</h1>
            <p>Completa los siguientes datos y te contactaremos, podrias formar parte de este equipo</p>
            {% if miFormulario.errors %}
        </div>
    </div>   
        <p><Errorrr</p>
    
        {% endif %}
        
        <form action="/AppMedica/medicoFormulario/" method="POST">{% csrf_token %}
            
        <!-- <p> Direccion: <input type="text" name="direccion">  </p>
            
            <p> Año: <input type="number" name="anioFund">  </p>  -->
            <table>
            
            {{ miFormulario.as_table }}
            
            </table>

            <input type="submit" value="Envio">

        </form>

    {% endblock %}
    
    {% block contenido4 %}
    
    {% endblock %}



