{% extends 'AppMedica/padre.html' %}


{% load static %}
    {% block contenido %}
        <h1 class="text-white font-weight-bold">PACIENTES</h1>
    {% endblock %}

    {% block contenido2 %}
        <p class="text-white-75 mb-5">En este espacio quedará registrada toda la información pertinente a cada servicio utilizado por el paciente</p>
        <a class="btn btn-primary btn-xl" href="{% url 'BusquedaPaciente' %}">Click si sos paciente de CHApp MEDICA</a>
        <br>
        <br>
        <a class="btn btn-primary btn-xl" href="{% url 'PacienteFormulario' %}">Click si sos nuevo por acá</a>
    {% endblock %}

    {% block contenido3 %}


    {% endblock %}
    {% block contenido4 %}

    {% endblock %}