{% extends 'AppMedica/padre.html' %}


{% load static %}
    {% block contenido %}
        <h1 class="text-white font-weight-bold">Pages Medicos</h1>
    {% endblock %}

    {% block contenido2 %}

        <h4 class="text-white font-weight-bold">MEDICOS - TEXTO CON EL DETALLE DE LA PAGINA</h4>
        <a class="btn btn-primary btn-xl" href="{% url 'Medicos' %}">CHApp Medicos</a>



    {% endblock %}

    {% block contenido3 %}

    {% endblock %}
    {% block contenido4 %}

    {% endblock %}
    {%block contenido5%}
    {%endblock%}

