{% extends 'AppMedica/padre.html' %}


{% load static %}
    {% block contenido %}
        <h1 class="text-white font-weight-bold">Pages Pacientes</h1>
    {% endblock %}

    {% block contenido2 %}

        <h4 class="text-white font-weight-bold">PACIENTES - TEXTO CON EL DETALLE DE LA PAGINA</h4>
        <a class="btn btn-primary btn-xl" href="{% url 'Pacientes' %}">CHApp Pacientes</a>



    {% endblock %}

    {% block contenido3 %}

    {% endblock %}
    {% block contenido4 %}

    {% endblock %}
    {%block contenido5%}
    {%endblock%}

